### General ###
.idea/
venv/

### Solidity ###
artifacts.json
artifacts/
build/
cache/
typechain-types/

### Coverage ###
coverage.json
coverage/

### Node ###
# Dependency directories
node_modules

# Environment variables file
.env

# Artifacts
data/
